---
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../consts";
import BackgroundEffect from "../components/BackgroundEffect.astro";
import "@fontsource-variable/outfit";

const {
	title = SITE_TITLE,
	description = SITE_DESCRIPTION,
	heroImage,
	structuredData,
} = Astro.props;

type Props = {
	title?: string;
	description?: string;
	heroImage?: string;
	structuredData?: string;
};
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead
			title={title}
			description={description}
			image={heroImage}
			structuredData={structuredData}
		/>
	</head>
	<body>
		<Header />
		<div id="line"></div>
		<main>
			<slot />
		</main>
		<div id="line"></div>
		<Footer />
		<BackgroundEffect />
		<style>
			#line {
				width: 100%;
				height: 0px;
				border-style: dotted hidden hidden hidden;
				border-color: var(--line-color);
			}
		</style>
	</body>
</html>
